@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Passions+Conflict:wght@100;200;300;400;500;600;700&family=Lora:wght@100;200;300;400;500;600;700&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5.8rem;
}

body {
    font-size: 1.6rem;
    font-family: "Exo", sans-serif;
    color: #ffffff;
}

/*Special paddings/margins/text*/

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lora", sans-serif;
    font-weight: 300;
}

.row {
    width: 100%;
    margin: 0 auto;
}

/*Navbar*/

.navbar-custom {
    background: #878C97;
    position: fixed;
    width: 100%;
    z-index: 999999999;
    padding: 3px 1rem;
}

.navbar-links a {
    color: #F79626;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

.nav-home {
    font-weight: 700;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #82cbff;
}

.nav-logo {
    font-size: 4.5rem;
    font-weight: 300;
    text-align: left;
    font-family: "Passions Conflict", sans-serif;
    margin: 0;
    padding-left: 1px;
}

.logo-link {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.logo-link:hover {
    color: #82cbff;
    text-decoration: none;
}

/*Hero Image Section*/

.heroimage-container {
    /*I took this from the whisky drop project 
    https://github.com/KrisieP/Bootstrap/blob/main/css/style.css/ */
    height: 80vh;
    background: url("../images/Hero\ Image.webp") no-repeat bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.background-wrapper {
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-title {
    font-size: 14vmin;
    font-weight: 300;
    text-align: left;
    font-family: "Passions Conflict", sans-serif;
    position: relative;
    top: 6rem;
    padding-left: 3.5rem;
}

.hero-col {
    margin: 0;
    padding: 0;
}

.Subscribe-header {
    font-size: 1.6rem;
}

.hero-sub {
    margin: 12rem auto;
    text-align: center;
}

.sub-box {
    background-color: rgba(79, 80, 85, 0.575);
    border-radius: 1rem 1rem;
    display: inline-block;
    padding: 0.8rem;
    text-align: center;
    z-index: 999999998;
}

.btn-primary {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: #000000;
    line-height: 1;
    border-radius: 0.8rem;
    border-width: 1px;
    border-color: #000000;
    background-color: #F79626;
}

.btn-primary:hover {
    background-color: #82cbff;
}

/*feature*/

.feature-head {
    height: 100%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
}

.feature-box {
    background-color: rgba(37, 38, 44, 0.877);
    border-radius: 1rem 1rem;
    margin: 1rem;
}

.feature-box ul {
    list-style-type: circle;
  }

.feature-box-heads {
    padding: 0.7rem;
    text-decoration: underline;
    text-align: center;
}

.feature-box-content {
    font-size: 1.6rem;
    padding: 0.7rem;
}

.band-feature {
    background: #a58869d1;
}

.band-feature .row {
    padding: .5rem 1.5rem 2.5rem 1.5rem;
}

.aboutus-contactlink {
    color: #F79626;
    text-decoration: underline;
}

/*Events*/

.events-background-image {
    height: 100%;
    background: url("../images/bwjam3.webp") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.background-wrapper-events {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.events-head {
    font-size: 10vmin;
    height: 100%;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.table-back-box {
    margin: 0 auto;
    color: #ffffff;
    margin-top: 6rem;
    margin-bottom: 8rem;
    width: 75%;
    text-align: center;
    background-color: rgba(37, 38, 44, 0.877);
    border-radius: 1rem 1rem;
    z-index: 999999998;
}

.table-box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

caption {
    margin-top: 1rem;
    color: #ffffff;
    padding: .75rem;
    background-color: rgba(37, 38, 44, 0.877);
    border-radius: 1rem 1rem;
    text-align: center;
    caption-side: bottom;
}

/*Gallery*/

.gallery-background {
    height: 100%;
    width: 100%;
    background-color: #a58869d1;
}

.gallery-header {
    height: 100%;
    color: #000000;
    margin: 0;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.slideshow-width {
    margin: 5rem 5rem;
}

.carousel {
    position: relative;
    margin: 5rem 2.5rem;
    height: 100%;
}

.video-header {
    height: 100%;
    color: #000000;
    margin-bottom: 4rem;
    padding: 1rem;
    text-align: center;
}

.links {
    color: #F79626;
    text-decoration: underline;
    background-color: transparent;
}

.studio-link {
    color: #000000;
    text-decoration: underline;
}

.links:hover,
.studio-link:hover {
    color: #82cbff;
}

/*Form*/

.form-container {
    width: 100%;
    margin-bottom: 2rem;
}

.form-main {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
}

.contact-us-header {
    color: #000000;
    text-decoration: underline;
}

.contact-us-header,
.contact-us-sub-head {
    width: 100%;
    color: #000000;
    max-width: 65%;
    margin: 1rem auto;
    text-align: center;
}

.contact-us-sub-head {
    margin-bottom: 3.5rem;
    font-size: 1.8rem;
    font-family: "Lora", sans-serif;
}

.phone {
    font-size: 1rem;
}

.contact-button {
    margin-top: 1rem;
}

.form-group {
    color: #000000;
}

/*footer*/

footer {
    height: 80%;
    margin: 0;
    padding: 1rem 0;
    background: #878C97;
}

.soc-med-foot {
    text-align: center;
}

.soc-med-foot p {
    color: #000000;
    margin-bottom: 0;
    text-align: center;
}

.soc-med-foot a {
    font-size: 2.7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #F79626;
}

.soc-med-foot {
    font-size: 1.6rem;
    margin: 0;
    -ms-flex-line-pack: center;
        align-content: center;
}

.foot-butt-cont {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-buttons {
    margin: 0.8rem;
    width: 10rem;
}

.fab:hover {
    color: #82cbff;
}

/*Modals*/

.modal {
    color: #000000;
}

.sub-modal-success {
    max-width: 30rem;
    margin: 1.75rem auto;
}

#modal-form {
    padding: 1rem;
}

.modal-button {
    padding-top: 0.5rem;
    margin: 0.5rem;
}

/*Media Queries*/

@media (min-width: 1080px) {
    .form-main {
        width: 100%;
        max-width: 60%;
        margin: 0 auto;
    }

    .form-control {
        font-size: 1.3rem;
    }
}

@media (min-width: 2160px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 450px) {
    .nav-logo {
        font-size: 3rem;
    }
    html {
        scroll-padding-top: 4.2rem;
    }
}